<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoSuite">
	<test name="SampleTestNG">

		<groups>
			<run>
				<include name="AlertTest"></include>
			</run>
		</groups>
		<packages>
			<!-- <package name=""></package>-->
		</packages>
		<classes>
			<!--			<class name="tests.AlertTest">
				<methods>
					<include name="doTC01"></include>
				</methods>
			</class>-->
		</classes>
	</test> <!--
	SampleTestNG -->
</suite> <!--
DemoSuite -->
